*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.csv
data/.csv
data
results

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tex
*.rds

Manuscript/POAR_range_limits_MS.pdf
