*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.csv
data/.csv
data
results

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.rds

Manuscript/POAR_range_limits_MS.pdf
Manuscript/POAR_range_limits_MS.tex
Manuscript/POAR_range_limits_AmNat_submission1.tex
Manuscript/POAR_range_limits_AmNat_submission1.pdf
Manuscript/POAR_range_limits_AmNat_submission2.tex
Manuscript/POAR_range_limits_AmNat_submission2.pdf
Manuscript/AmNat_MS_template.tex
Manuscript/POAR_range_limits_AmNat_submission1-concordance.tex
Manuscript/POAR_range_limits_AmNat_submission2-concordance.tex
Manuscript/POAR_range_limits_MS-concordance.tex
Manuscript/POAR_range_limits_AmNat_RESPONSE.pdf
Manuscript/POAR_range_limits_AmNat_RESPONSE.pdf
Manuscript/POAR_range_limits_AmNat_RESPONSE.pdf
